<div class="form-group mb-2">
    <label class="mb-2" for="title">Title</label>
    <input class="form-control" value="<%= article.title %>" type="text" name="title" id="title" required>
</div>
<div class="form-group">
    <label class="mb-2" for="description">Description</label>
    <textarea class="form-control" name="description" id="description" required><%= article.description %></textarea>
</div>
<a class="btn btn-secondary mt-4" href="/">Cancel</a>
<button class="btn btn-primary mt-4" type="submit">Save</button>